*{
    padding: 0%;
    margin: 0%;
}

nav{
    background-color: rgb(168, 51, 56);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    padding: 1%;
}

.logo figure img{
    width: 20%;
    border-radius: 16px;
}

.paginas{
    width: 40%;
}

.paginas a{
    font-size: large;
    text-decoration: none;
    color: white;
    padding: 6%;
}